<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>프로그래밍 스쿨</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
   <header>
       <div class="container header-container">
           <div class="header-inner">
               <h1 class="header-logo"><a href="../main.html"><img src="../img/logo.png" srcset="../img/logo.png 1x, img.logo@2x.png 2x" alt="Codera"></a></h1>
               <button class="menu-btn" id="mobile-menu"></button>
           </div>
       </div>
   </header>
   
   <nav>
       <div class="container nav-container">
           <ul class="navbar">
               <li><a href="../main.html">홈</a></li>
               <li><a href="../course/course.html">코스 소개</a></li>
               <li><a href="../qna/qna.html/">자주 하는 질문</a></li>
               <li><a href="../contact/contact.html">신청</a></li>
           </ul>
       </div>
   </nav>
   
 <scction class="main">
     <div class="container">
         <main>
             
         </main>
     </div>
 </scction>
  
<footer>
    <div class="container footer-container">
        <ul class="footer-nav">
            <li><a href="../course/course.html">코스 소개</a></li>
            <li><a href="../qna/qna.html">자주 하는 질문</a></li>
            <li><a href="../contact/contact.html">신청</a></li>
        </ul>
        <p class="footer-copryright">
            &copy; codera
        </p>
    </div>
</footer>
   

</body>
</html>